.popup__container {
    max-width: 430px;
    min-width: 282px;
    height: 330px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;   
    background-color: white;
    border-radius: 10px;
    color: black;
    box-sizing: border-box;
}

@media screen and (max-width: 650px) {
    .popup__container {
        max-width: 282px;
        height: 322px;
}
}