.element__button {
    background-color: white;
    height: 19px;
    width: 22px;
    align-self: center;
    border: none;
    margin: 0;
    padding: 0;
    transition: 0.5s;
    cursor: pointer;
    background-image: url(../../../images/like.png);
}

.element__button:hover {
    opacity: 0.5;
}

.element__button:active {
    background-image: url(../../../images/like-active.png);
}